#dashboard-section{
    display: grid;
    place-content: center;
}

.dashboard{
    display: flex;
    justify-content: space-around;
    place-items: center;
    height: 70vh;
    min-width: 800px;
    max-width: 1300px;
}

.project{
    display: grid;
    place-items: center;
    width: 350px;
    min-height: 20vh;
    max-height: auto;
    /* background-color: blue; */
    border: 1px solid ;
}

.project h1{
    padding: 0;
    margin: 0;
}

.project h2{
    padding: 0;
    margin: 0;
}

.project h3{
    padding: 0;
    margin: 0;
}

.project p{
    padding: 0;
    margin: 0;
}