#blog-section{
    height: auto;
}

.posted-blog{
    display: grid;
    place-items: center;
    gap: 10px;
}

.blogHeading{
    height: 30vh;
    display: grid;
    place-items: center;
    position: sticky;
    top: 0.1px;
    backdrop-filter: blur(20px);
}

.posted-Blog{
    width: 60vw;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 20px;
}