header{
    display: flex;
    place-items: center;
    justify-content: space-around;
    height: 8vh;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(2px);
    z-index: 10;
}

ul{
    display: flex;
    place-items: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: #ffffff;
}

li{
    list-style: none;
    margin: 0 1.2rem;
    font-size: 1.5em;
    font-weight: normal;
}

.logo h1{
    font-weight: bold;
}